//
// Fonts
//


// Inter font (Regular, Regular italic, Bold, Bold italic, Light, Light italic, Black, Black italic)

//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");